@model Review

@{
    ViewData["Title"] = "Edit Review";
}

<h4>Edit Your Review</h4>

@if (ViewBag.msg != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.msg
    </div>
}

<div class="d-flex justify-content-center">
    <div class="card mb-3 p-3 shadow-sm rounded h-auto" style="width: 60%">
        <form asp-action="Edit" class="mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RecipeId" />

            <div class="mb-3">
                <label asp-for="Rating" class="form-label fw-bold">Update Rating</label>
                <select asp-for="Rating" class="form-select">
                    <option value="5">5 - Excellent</option>
                    <option value="4">4 - Good</option>
                    <option value="3">3 - Average</option>
                    <option value="2">2 - It's not my favourite</option>
                    <option value="1">1 - It's interesting</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Comment" class="form-label fw-bold"></label>
                <textarea asp-for="Comment" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-secondary">Save Changes</button>
                <a asp-action="Index" asp-route-recipeId="@Model.RecipeId" class="btn btn-outline-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}